.chat_board{
	padding: 15px;
	height: 500px;
	overflow-y: scroll;
	background-color: #aec0d3;
	border-radius: 15px 15px 0px 0px;
}
.msg_send_btn{
	border: 0;
	background-color: #28a745;
	width: 10%;
    padding: 8px;
}
.message_container{
	margin-top: 80px;
	width: 50%;
}


